@model SportsStore.WebUI.Models.ProductListViewModel 

@{
    ViewBag.Title = "Products";
}
@foreach (var product in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@product.Name</strong>
            <span class="pull-right label label-primary">@product.Price.ToString("C")</span>
        </h3>
        <span class="lead">@product.Description</span>
    </div>
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PageingInfo,x=>Url.Action("List",new {page= x }))
</div>
    
