@model SportsStore.WebUI.Models.ProductListViewModel 

@{
    ViewBag.Title = "Products";
}
@foreach (var product in Model.Products)
{
    <div>
        <h3>@product.Name
            @product.Description</h3>
        <h4>@product.Price.ToString("C")</h4>
    </div>
}
<div>
    @Html.PageLinks(Model.PageingInfo,x=>Url.Action("List",new {page= x }))
</div>
    
